.tabsWrapper {
	margin: 3rem 0;
}

.tabs {
	display: flex;
	border-bottom: 1px solid var(--gray);
	vertical-align: middle; /* for proper button alignment */
	padding: 1rem 0;
	justify-content: space-between;
	overflow-x: auto;
	gap: 1rem;
}

.tabs > button {
	background-color: transparent;
	border: none;
	font-size: var(--s-font);
	color: var(--gray);
	outline-offset: 5px;
	outline-color: var(--blue);
	flex-shrink: 0;
}

.tabs > .active {
	color: var(--blue);
}

.displayMembers {
	display: flex;
	flex-wrap: wrap;
	gap: clamp(2rem, 5vw, 4rem);
	margin-top: 2rem;
}

@media (max-width: 370px) {
	.displayMembers {
		justify-content: center;
	}
}

.member {
	text-align: center;
	flex-basis: 180px;
}

.memberPic {
	display: block;
	height: auto;
	aspect-ratio: 1;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.memberName {
	margin-top: 0.75rem;
	font-size: var(--m-font);
	color: var(--gray);
}

.memberDesignation {
	color: var(--red);
	font-family: monospace;
	font-size: var(--xs-font);
	font-weight: 300;
	max-width: 25ch;
	margin-top: 0.5rem;
}
