.footer {
	background-color: #bbdefb;
	color: var(--gray);
	padding: 1.25rem;
}

.footer, .footer * {
	box-sizing: border-box; /* should be added in global css, makes writing css a lot easier.*/
}

.footerWrapper {
	width: 100%;
	max-width: 1200px; /* should be added global css as a variable, since design is of max width close to 1200px*/
	margin: 0 auto;
}

.footerLogo {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.footerLogoText {
	font-size: clamp(1.2rem, 5vw, 1.5rem);
}

.footerLogoText > small {
	font-size: clamp(0.5rem, 5vw, 1rem);
}

.footerLine {
	border: none;
	height: 1px;
	background-color: var(--gray);
	margin: 2rem 0 1.75rem 0;
	opacity: 0.25;
}

.footerSection {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 3rem;
}

.footerForm {
	position: relative;
}

.footerLinksX {
	display: flex;
	gap: 1rem;
}

.footerLinks {
	list-style-position: inside;
	list-style-type: "› ";
}

.footerJoinUs {
	--btn-width: 5rem;
	text-align: center;
}

@media (max-width: 525px) {
	.footerJoinUs {
		margin: 0 auto;
	}
}

.footerHead {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-size: clamp(1rem, 5vw, 1.25rem);
}

.footerInput {
	font: inherit;
	font-size: 0.875rem;
	border: none;
	height: 2.5rem;
	border-radius: 1.25rem;
	padding: 0 calc(var(--btn-width) + 0.5rem) 0 1rem;
}

.footerInput:focus {
	outline: 2px solid var(--blue);
	outline-offset: 2px;
}

@media (max-width: 360px) {
	.footerWrapper {
		gap: 1rem;
	}
	.footerInput {
		width: 100%;
	}
}

.footerButton {
	font: inherit;
	font-size: 0.875rem;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: var(--btn-width);
	border: none;
	background-color: var(--blue);
	color: var(--white);
	border-radius: 1.25rem;
	cursor: pointer;
}
