
.about {
    margin: 80px 0px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.leftabout {
    flex: 60%;
    display: flex;
    flex-direction: column;
}

.abouttitle{
    font-size: var(--l-font);
    padding-bottom: 20px;
    color: var(--black);
}

.aboutpara {
    color: var(--gray);
    line-height: 30px;
    font-size: var(--m-font);
    text-align: justify;
    width: 90%;
}

.rightabout {
    display: flex;
    justify-content: center;
    flex: 40%;
}

.aboutimg {
    height: auto;
    width: 100%;
    object-fit: contain;
}


@media screen and (max-width:1200px) {    
    .about {
        margin: 0;
        height: auto;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .aboutpara{ 
        padding: 0;
        width: auto;
        font-size: var(--s-font)
    }
    
    .leftabout {
        margin-left: 0;
    }
    
    
    .aboutimg {
        height: 100%;
        width: 100%;
    }
}
