.faq {
  margin: clamp(7rem, 5vh, 6.5rem) 0;
}

.faq,
.faq > * {
  width: 100%;
  box-sizing: border-box;
}

.faqWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.faqTitle {
  font-size: var(--l-font);
  font-weight: bold;
  color: var(--black);
}

.faqWrapper > * {
  flex: 0 1 50%;
}

@media (max-width: 768px) {
  .faqWrapper {
    display: block;
  }

  .faqImage > * {
    width: 100%;
  }
}
