.main {
    display: flex;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* text-align: center; */
    width: 50%;
}


.leftimg{ 
    width: 120px;
}

.title {
    font-size: var(--l-font);
    font-weight: semi-bold;
    color: var(--black);
    margin: 12px 0;
}


.mob_title {
    display: none;
    font-size: var(--l-font);
    font-weight: semi-bold;
    color: var(--black);
}

.para {
    font-family: "GoogleSans-m";
    font-size: var(--m-font);
    color: var(--gray);
    margin-bottom: 8px;
}

.right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.rightimg {
    width: 100%;
    object-fit: contain;
}


/* @media screen and (max-width:1200px) {
    .main {
       flex-direction: column;
       margin: 30px 0;
       height: auto;
    }

    .title {
       margin: 0;
    }

    .left {
        padding-top: 40px;
    }

    .para {
        font-size: var(--s-font);
    }
    
    .leftimg{ 
        height: 75px;
    }
}     */


    
@media screen and (max-width:768px) {
    .main {
        flex-direction: column-reverse;
        justify-content: center;
     }
    .title {
        display: none;
    }

    .mob_title {
        display: block;
        margin: 12px 0;
    }
    .left,.right{
        width: 100%;
    }
    .left{
        align-items: center;
        text-align: center;
        padding-top: 40px;
    }
}

@media screen and (max-width:480px) {
    .leftimg{ 
        width: 80px;
        margin:4px;
    }
    .rightimg{ 
        width: 90%;
        margin:4px;
    }
}