@font-face {
  font-family: "GoogleSans-b";
  src: url("/fonts/GoogleSans-Bold-v1.27.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "GoogleSans-m";
  src: url("/fonts/GoogleSans-Medium-v1.27.ttf");
  font-style: normal;
  font-weight: medium;
}

:root {
  --white: #ffffff;
  --black: #404040;
  --green: #0f9d58;
  --blue: #1a73e8;
  --yellow: #f6ba17;
  --red: #e84435;
  --gray: #676c72;
  --light-gray: #f8f9fa;
}
* {
  margin: 0;
  padding: 0;
  font-family: "GoogleSans-m";
}
.title {
  font-family: "GoogleSans-b";
  font-size: 52px;
  color: var(--black);
}
.para {
  font-family: "GoogleSans-m";
  font-size: 24px;
  color: var(--black);
}
